.extra-hours-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  margin-bottom: 80px;
  color: aliceblue;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  text-shadow: 8px 5px 5px #000;
}

.grid {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 40px;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.menu-item {
  text-align: center;
  cursor: pointer;
  background-color: #133f7c;
  border-radius: 5%;
  transition: transform 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  width: auto;
}

.menu-item:hover {
  transform: translateY(-10px);
}

.menu-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.menu-item p {
  color: azure;
  padding: 10px 0;
  margin: 0;
  font-family: sans-serif;
 
}