// h3 {
//   color: aliceblue;
//   text-align: center;
//   font-family: Arial, Helvetica, sans-serif;
// }

// .search-container {
//   width: 200px;
//   padding-left: 10px;
// }
@use '@scss/utils/variables' as *;
@use '@scss/utils/mixins' as *;

.update-modal {
  .ant-modal-content {
    background-color: $amadeus-light;
    border-radius: $border-radius;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 24px;

    .ant-modal-title {
      color: $amadeus-primary;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  .update-modal-form {
    &-item {
      margin-bottom: 16px;
      
      .ant-form-item-label {
        label {
          color: $amadeus-primary;
          font-weight: 500;
        }
      }
      
      .ant-input, 
      .ant-input-textarea {
        border-radius: $border-radius;
        transition: all 0.3s ease;
        
        &:focus {
          border-color: $secondary-color;
          box-shadow: 0 0 0 2px rgba($secondary-color, 0.2);
        }
      }
    }

    &-button {
      margin-top: 16px;

      .ant-btn-primary {
        background-color: $amadeus-primary;
        border-color: $amadeus-primary;
        border-radius: $border-radius;
        transition: all 0.3s ease;

        // &:hover {
        //   background-color: color.scale($amadeus-primary, $lightness: -10%);
        //   border-color: color.scale($amadeus-primary, $lightness: -10%);
        // }

        &:focus {
          background-color: $amadeus-primary;
          border-color: $secondary-color;
        }
      }
    }
  }
}

// Table Styles
.extra-hours-table {
  .ant-table {
    background-color: $amadeus-light;
    border-radius: $border-radius;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .ant-table-header {
    background-color: $amadeus-primary;
    color: white;
  }

  .ant-table-row {
    transition: background-color $transition-speed ease;

    &:hover {
      background-color: rgba($secondary-color, 0.1);
    }
  }
}

// Search Styles
.search-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;

  .ant-input-search {
    width: 300px;
    .ant-input {
      border-color: $amadeus-primary;
      &:focus {
        border-color: $secondary-color;
        box-shadow: 0 0 0 2px rgba($secondary-color, 0.2);
      }
    }
  }
}
