@use '@scss/utils/variables' as *;
@use '@scss/utils/mixins' as *;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $amadeus-light;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1; 
  }

