$amadeus-primary: #133f7c;
$amadeus-secondary: #005eb8;
$amadeus-light: #f0f2f5;
$amadeus-dark: #001529;
$amadeus-gray: #8c8c8c;

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;